.note {
    /* Adiciona espaçamento e estilo geral ao item da nota */
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
    background-color: #ffeb3b;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.3s;
    border-radius: 5px;
}

.note h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; /* Espaçamento com os detalhes */
}

.note p {
    margin: 0 0 20px 0; /* Espaçamento entre os detalhes e os botões */
    font-size: 14px;
    color: #555;
}

.note button {
    margin-right: 10px; /* Espaçamento entre os botões */
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

.note:hover {
    transform: scale(1.05);
    background-color: #fff176;
  }