<head>
  <link rel="stylesheet" href="{{{{ url_for('static', filename='templates/getit.css') }}}}">
</head>
<body>
    <div class="container">
      <img src="{{{{ url_for('static', filename='img/logo-getit.png') }}}}">
      <div class="frase_post">
        <p>Como o Post-it, mas com outro verbo</p>
      </div>
      <div class="submit"> 
        <form action="/submit" method="POST">
          <label for="titulo">Título</label>
          <input id="titulo" type="text" name="titulo" />
          <label for="detalhes">Detalhes</label>
          <input id="detalhes" type='text' name="detalhes" />
          <input type="submit" />
        </form>
      </div> 
    <!-- O RESTO DO HTML A PARTIR DAQUI -->
    <div class="postit">
      <ul>
        {notes}
      </ul>
    </div>
    </div>

   